@using System.Security.Claims

@{
    ViewData["Title"] = "Личный кабинет";
}

<div class="text-center">
   <p>ФИО пользователя:</p>
    <p>Номер телефона:</p>
    <p>E-mail:</p>
   <p>	Дата последней авторизации:</p>

   
    <form asp-action="Exit">
        <input type="submit" value="Выход">
    </form>
</div>
